#game_tile{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column nowrap;
    -moz-user-select: none; 
    -webkit-user-select: none;
}

#game_field{
    display: flex;
    align-items:stretch;
    flex-flow: row wrap;
    width: 430px;
    height: 430px;
    
}

#score{
    display: block;
    font-size: 30px;

}

.sign{
    display: block;
    border: solid;
    width: 140px;
    height: 140px;
    margin:1px;

    font-size: 150px;
    display: block;
    text-align: center;
    line-height: 140px;

}

.navigation {
  display: flex;
  list-style-type:none;
  justify-content: flex-start;
  border-bottom:solid;
}

.navigation a {
 
  text-decoration:none;
  display: block;
  padding:10px;
  color: black;  

}

.navigation a:hover {
  background: #808080;
}